<h1>Listing anuncios</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @anuncios.each do |anuncio| %>
      <tr>
        <td><%= anuncio.description %></td>
        <td><%= link_to 'Show', anuncio %></td>
        <td><%= link_to 'Edit', edit_anuncio_path(anuncio) %></td>
        <td><%= link_to 'Destroy', anuncio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Anuncio', new_anuncio_path %>
